.wy-table-responsive table td {
    white-space: normal !important;
}
.wy-table-responsive {
    overflow: visible !important;
}

.yamlkey {
    color: purple;
}

.yamlparam {
    color: purple;
    font-weight: bold;
}

.yamltype {
    font-weight: bold;
    color: blue;
}

.yamlcomment {
    color: grey;
}
